button {
    background-color: #3582e0;
    border: 2px solid;
    border-radius: 4px;
    color:#ffffff; 
    padding: 8px; 
    width: 100px;
    cursor: pointer;
    height: 42px;
}

button:hover {
    background-color: #1e4a81;
}

button:disabled {
    background-color: #797a7c;
}

input[type=text]{
    width: 270px;
    height: 30px;
}

.left {
    width: 180px;
    float: left;
    margin-top: 5px; 
}

.right {
    width: 100px;
    float: right;
}

.textAlign {
    text-align: right;
}

.body{
    width: 280px;
    min-height: 55px;
}
